body {
  font-family: Verdana, Arial, sans-serif;
  background: #efefef;
}
#sandbox-wheel {
  text-align: center;
  margin-top: 200px;
}

ul, li { padding: 0; margin: 0; list-style: none; }

a {
  text-align: center;
  width: 40px; height: 40px;
  line-height: 40px;
  background: #368Bc1; color: #FFF;
  font-weight: bold; font-size: 16px;
  display: inline-block;
  text-decoration: none;
  border-radius:100%;
}
a:hover {
  background: #333;
  color:  #368Bc1;
}

li a {
  width: 30px; height: 30px;
  line-height: 30px;
  font-size: 12px;
}
